
<RecipesListComponent RecipesList="Recipes" />

<div>
    <button type="button"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50"
            disabled="@(!canMovePrev)" @onclick="Prev">
        Prev
    </button>
    <button type="button"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50"
            disabled="@(!canMoveNext)" @onclick="Next">
        Next
    </button>
</div>

@code {
    [Parameter]
    public IEnumerable<Recipe> RecipesList { get; set; } = new List<Recipe>();
    [Parameter]
    public int PageSize { get; set; } = 10;

    private IEnumerable<Recipe> Recipes { get; set; } = new List<Recipe>();

    private int CurrentPage = 1;
    private bool canMovePrev = true;
    private bool canMoveNext = true;

    protected override void OnInitialized()
    {
        Recipes = RecipesList.Take(PageSize);
        EvaluateNextPrev();
    }

    private void Next()
    {
        Recipes = RecipesList
        .Skip(PageSize * CurrentPage)
        .Take(PageSize);
        CurrentPage++;

        EvaluateNextPrev();
    }

    private void Prev()
    {
        CurrentPage--;
        Recipes = RecipesList
        .Skip(PageSize * (CurrentPage - 1))
        .Take(PageSize);

        EvaluateNextPrev();
    }

    private void EvaluateNextPrev()
    {
        canMoveNext = CurrentPage < (Math.Ceiling((double)RecipesList.Count() / PageSize));
        canMovePrev = CurrentPage > 1;
    }
}
