<ul class="list-none mb-6 ml-4">
    @foreach (var recipie in RecipesList)
    {
        <li>
            <NavLink title="@recipie.Id" class="text-blue-500" href=@($"recipe/{recipie.Id}")>
                @recipie.Id  @recipie.Name
            </NavLink>
        </li>
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<Recipe> RecipesList { get; set; } = new List<Recipe>();
}
