<ul class="list-none mb-6 ml-4">
    @foreach (var step in Steps)
    {
        <li>
            <div class="font-semibold text-slate-900">@step.Number </div>
            <div>
                @step.Instructions
            </div>
        </li>
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<Step> Steps { get; set; } = new List<Step>();
}
