<section>
    @foreach (var step in Steps)
    {
        if (step.Number == current)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Step: @step.Number (of @stepsCount)</h5>
                </div>
                <div class="card-text">
                    @step.Instructions
                </div>
                <br />
                <div>
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50"
                        disabled="@(!canMovePrev)" @onclick="MovePrev">Prev</button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50"
                    disabled="@(!canMoveNext)" @onclick="MoveNext">Next</button>
                </div>
            </div>
        }
    }
</section>

@code {
    [Parameter]
    public IEnumerable<Step> Steps { get; set; } = new List<Step>();

    private int current = 1;
    private int stepsCount { get => Steps.Count(); }
    private bool canMovePrev { get => current > 1; }
    private bool canMoveNext { get => current < stepsCount; }

    private void MovePrev()
    {
        if (canMovePrev)
        {
            current--;
        }
    }
    private void MoveNext()
    {
        if (canMoveNext)
        {
            current++;
        }
    }
}
