@page "/counter"
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (isCounterEnabled)
{
    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}
else
{
    <p role="alert">Counter not enabled</p>
}
@code {
    private int currentCount = 0;
    private bool isCounterEnabled = false;

    protected override async Task OnInitializedAsync()
    {
        var flag = await Http.GetFromJsonAsync<FlagResponse>("mansions");
        isCounterEnabled = flag is not null ? flag.enabled : false;
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    record FlagResponse(bool enabled);
}
