@page "/"

<PageTitle>Recepies</PageTitle>

<h1>All Recpes</h1>

<ul class="list-group">
@foreach (var recipie in Recipes)
{
    <li class="list-group-item">
        <NavLink title="@recipie.Id" class="nav-link" href=@($"recipe/{recipie.Id}")>
            @recipie.Name
        </NavLink>
    </li>
}
</ul>

@code {
    private IEnumerable<Recipe> Recipes { get; set; } = DB.Recipes;
}
