@page "/"
@using blazor_appconfig.Components
@using blazor_appconfig.Services
@inject RecipesQuery Query
@inject AppConfigurationStorageService StorageConfig;

<PageTitle>Recepies</PageTitle>

<h1>All Recpes</h1>

@if (StorageConfig.IsPaginationEnabled())
{
    <PagedRecipesListComponent RecipesList="Recipes" PageSize="StorageConfig.Configuration.PageSize" />
}
else
{
    <RecipesListComponent RecipesList="Recipes" />
}

@code {
    private IEnumerable<Recipe> Recipes = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        Recipes = await Query.GetAll();
    }
}
