@page "/"
@using BlazorAppConfig.Web.Components
@using BlazorAppConfig.Web.Services
@inject RecipesQuery Query
@inject AppConfigurationStorageService StorageConfig;

<PageTitle>Recepies</PageTitle>

<h1 class="font-extrabold text-5xl tracking-wide mb-6">All Recipes</h1>

@if (StorageConfig.FeaturesConfiguration.IsPagedRecipesEnabled)
{
    <PagedRecipesListComponent RecipesList="Recipes" PageSize="StorageConfig.FeaturesConfiguration.RecipesListPageSize" />
}
else
{
    <RecipesListComponent RecipesList="Recipes" />
}

@code {
    private IEnumerable<Recipe> Recipes = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        Recipes = await Query.GetAll();
    }
}
