@page "/recipe/{RecipeId}"
@using BlazorAppConfig.Web.Components
@using BlazorAppConfig.Web.Services
@inject RecipesQuery Query;
@inject AppConfigurationStorageService Configuration;

<PageTitle>Recipes</PageTitle>

<NavLink title="Back to recipes" class="text-blue-500" href="/">
    Back
</NavLink>

@if (Recipe == null)
{
    <em>Recipe available</em>
}
else
{
    <h1 class="font-extrabold text-5xl tracking-wide mb-6">@Recipe.Name</h1>

    <h2 class="font-extrabold text-2xl tracking-wide mb-6">Ingredients</h2>
    <ul class="list-disc mb-6 ml-4">
        @foreach (var ingredient in Recipe.Ingredients)
        {
            <li>
                @ingredient.Name - @ingredient.Quantity
            </li>
        }
    </ul>

    <h2 class="font-extrabold text-2xl tracking-wide mb-6">Steps</h2>
    @if (ShowStepsWizards)
    {
        <StepsListWizardComponent Steps="Recipe.Steps" />
    }
    else{
        <StepsListComponent Steps="Recipe.Steps" />
    }
}
@code {
    [Parameter]
    public string RecipeId { get; set; } = "";

    private Recipe? Recipe { get; set; }

    private bool ShowStepsWizards = false;

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(RecipeId, out int recipeId))
        {
            Recipe = await Query.Get(recipeId);

            ShowStepsWizards = Configuration.FeaturesConfiguration.IsStepsListWizardEnabled;
        }
    }
}
